.input__container {  
    display: flex;
    flex-direction: column;
    height: 110px
}

.input__container input {
    border: 1px solid #ccc;
    padding-left: 1rem;
    border-radius: 4px;
    font-size: 32px;
    width: 110px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--off-black);
}

.input__container.input__error input {
    border-color: #ff4d4f;
}

.error-message {
    color: #ff4d4f;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    width: 130px;
}

.input__label {
    font-family: var(--font-family);
    color: var(--smokey-grey);
    font-weight: 600;
    letter-spacing: 4px;
}

.input__label__error {
    color: red;
}
