.countdown p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
    margin-left: 2.5rem;
}

@media (max-width: 768px) {
    .countdown {
        width: 300px;
    }

    .countdown p {
        margin-left: 1rem;
    }
}